---
layout: page
title: About
permalink: /about/
---

<div
  style="
    display: grid;
    grid-template: auto/repeat(auto-fill, minmax(20em, 1fr));
  "
>
  <div class="about-me">
    <dl style="word-break: break-word;">
      <dt>Name:</dt>
      <dd>Evan Louie</dd>
      <dt>Location:</dt>
      <dd>Vancouver | San Francisco | 東京 | 香港</dd>
      <dt>Occupation:</dt>
      <dd>Software Developer/Designer</dd>
      <dt>Personality:</dt>
      <dd>INTJ | Type 5/8</dd>
      <dt>Favourite Algorithm:</dt>
      <dd>Dijkstra's or Merge-sort (external sorting ftw)</dd>
      <dt>Profiles:</dt>
      <dd>
        <ul style="list-style: none;">
          <li style="margin-left: 0;" class="external-profile">
            <p style="padding: 0; margin: 0;">
              {% include icons/icon-github-dev.html %}
              <a href="https://github.com/evanlouie"
                >https://github.com/evanlouie</a
              >
            </p>
          </li>
          <li style="margin-left: 0;" class="external-profile">
            <p style="padding: 0; margin: 0;">
              {% include icons/icon-linkedin.html %}
              <a href="https://ca.linkedin.com/in/evanlouie"
                >https://www.linkedin.com/in/evanlouie</a
              >
            </p>
          </li>
          <li style="margin-left: 0;" class="external-profile">
            <p style="padding: 0; margin: 0;">
              {% include icons/icon-twitter.html %}
              <a href="https://twitter.com/evanlouie"
                >https://twitter.com/evanlouie</a
              >
            </p>
          </li>
          <li style="margin-left: 0;" class="external-profile">
            <p style="padding: 0; margin: 0;">
              {% include icons/icon-vsco.html %}
              <a href="https://vsco.co/evanlouie/"
                >https://vsco.co/evanlouie/</a
              >
            </p>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="profile-pic">{% include images/profile.svg %}</div>
</div>
