<section class="definition">
    <h1 class="word">Evan Louie</h1>
    <div class="pronounciation">/ɛvən luːi/ (noun):</div>
    <div class="body">
        <ol>
            <li>An experienced software developer currently working as an Open Source Engineer at Microsoft in San Franicsco.</li>
            <li>A distributed systems guru with a love for Erlang/Elixir.</li>
            <li>A designer who loves displaying information in meaningful ways with React.</li>
            <li>One whom enjoys fashion, travelling, and beer.</li>
        </ol>
    </div>
</section>
