@import "bourbon/bourbon";
@import "highlight";

$grey-color: #828282;
$black: #333333;
$off-black: #333332;

.icon {
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      // fill: $grey-color;
    }
  }
}

$maxWidth: 900px;
$rs: 16px;
$font-serif: "Times New Roman", Times, serif;
$font-sans: "Helvetica Neue", Helvetica, "Roboto", sans-serif;
$font-mono: "VT323", monospace;
@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

.post-grid {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;

  article {
    .article-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .post-header {
        flex: 0 1 auto;
      }
      .post-excerpt {
        flex: 1 0 auto;
      }
    }
  }
}

%vertical-rhythm {
  // Only needed for syntax highlighting
  margin-bottom: $rs;
}

main {
  display: block;
}

body {
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  // text-rendering: optimizeLegibility;
  // font-feature-settings: "liga", "dlig";
  // No overflows for printable pages
  @media print {
    max-width: 100vw;
  }
}

.site-header {
  overflow: hidden; // fixes overscroll on mobile
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-sans;

  position: relative;
  width: 100%;
  max-width: $maxWidth;

  .logo {
    width: 45px;
    height: 45px;
  }

  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }
  @media print {
    margin: 0 auto;

    .page-links {
      display: none;
    }

    .author-info {
      margin-left: 1em;
      display: inline-flex;
      justify-content: space-between;
      width: 100%;

      .name {
        font-size: x-large;
        font-weight: 500;
      }

      .title {
        font-size: small;
        font-weight: 200;
      }
    }

    .contact {
      font-size: small;

      .icon {
        svg {
          display: inline-block;
          width: 1em;
          height: 1em;
          vertical-align: text-top;
        }
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  @media screen {
    margin: 1em auto 0;

    .author-info {
      display: none;
    }

    .page-links {
      $pageLinkMarginWidth: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -#{$pageLinkMarginWidth} 0 0;
      top: 10px;
      right: $rs;
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;

      .page-link {
        margin: 0 #{$pageLinkMarginWidth};
      }
      a {
        text-decoration: none;
        color: #999999;

        &:hover {
          color: $black;
        }
      }
    }
  }
}

.definition {
  .word {
    font-family: $font-serif;
    font-size: 50px;
    margin-bottom: 0;
  }

  .pronounciation {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    color: grey;
    font-family: $font-serif;
  }

  .body {
    font-family: $font-sans;
  }
}

.blog-header {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include box-sizing(border-box);
  font-family: $font-mono;

  .blog-title {
    border-bottom: 1px solid lightgrey;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 4em;
    font-weight: 700;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: $black;
  }

  .blog-description {
    font-size: medium;
    margin: 0 0 20px;
    padding: 0;
    line-height: 1.2;
    color: #666666;
    font-weight: 300;
  }
}

.content {
  width: 100%;
  max-width: $maxWidth;
  margin: 25px auto 0;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f0;

    .post-title {
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: x-large;
      line-height: 1.15;
      margin: 0;

      a {
        text-decoration: none;
        color: $off-black;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .post-excerpt {
      font-weight: 300;
      font-style: normal;
      font-size: medium;
      line-height: 1.59;
      color: #666665;
    }

    .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;

      a {
        color: #b3b3b1;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.post-template .content {
  max-width: $maxWidth;
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;

  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;

  a {
    color: #999999;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: $maxWidth;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #999999;
  line-height: $rs * 1.1;

  a {
    color: #666666;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

.post {
  .post-meta {
    font-family: $font-sans;
  }

  .post-title {
    font-weight: 700;
    font-style: normal;

    font-size: 50px;
    line-height: 1.1;
    color: $off-black;
    margin-bottom: 50px;
  }

  .author-image {
    background-image: url("{{ site.baseurl }}{{site.author_image}}");
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }

  .post-meta-text {
    color: #b3b3b1;

    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: $font-sans;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content {
    width: 100%;
    font-family: $font-serif;
    color: $black;
    // Set default for smallest headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-style: oblique;
      line-height: 1.4;
      font-family: $font-sans;
    }

    p {
      font-weight: 400;
      font-style: normal;
      font-size: medium;
      line-height: 1.4em;

      margin-top: 1em;
      margin-bottom: 0;
      color: $black;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    a {
      color: $black;
      text-decoration: underline;
    }

    figure {
      margin: 0;
      padding: 0 0 30px;
    }

    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }

    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0 solid #dddddd;
      border-top: 1px solid #dddddd;
    }

    blockquote {
      margin: 0 0 30px -26px;
      border-left: 3px solid #57ad68;
      padding-left: 20px;

      p {
        font-weight: 400;
        padding-bottom: 3px;
      }
    }

    ol,
    ul {
      padding: 0 0 30px;
      margin: 0;
    }

    li {
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: medium;
      line-height: 1.4em;
      margin-left: 30px;
      // margin-bottom: 12px;
      padding-top: 2px;

      p {
        padding: 0 0 golden-ratio(1rem, 1);
      }
    }

    ol li {
      list-style-type: decimal;
    }
  }

  .bottom-teaser {
    padding: 50px 0 0;
    font-family: $font-sans;

    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0 solid #dddddd;
      border-top: 1px solid #dddddd;
    }

    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }

      .bio {
        margin-top: 18px;
        margin-bottom: 18px;
      }

      .username {
        margin-left: 4px;
        margin-right: 18px;
        margin-bottom: 18px;
      }

      .index-headline {
        padding-bottom: 32px;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          color: $black;
          text-decoration: underline;
        }
      }

      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }

      h4 {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }

      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;

        &.published {
          color: #999999;
        }
      }
    }

    .isRight {
      float: right;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
      }

      .index-headline {
        padding-bottom: 32px;
      }

      .site-footer {
        margin: 0;
        padding: 0;
        color: $black;
        text-align: left;
        font-size: 14px;
        line-height: 1.3;
        color: #999999;

        a {
          color: $black;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .poweredby {
          display: block;
          padding-bottom: 18px;
          font-weight: 700;
          color: $black;
        }
      }
    }
  }
}

.share {
  text-align: right;
  padding: 20px 0 0;

  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;

    .hidden {
      display: none;
    }

    &:hover {
      color: $black;
    }
  }
}

code,
pre {
  font-size: small;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

code {
  font-family: "Fira Code", monospace;
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination .disabled {
  opacity: 0;
}
@mixin resumeStyling($font-family, $text-size, $header-size) {
  article.resume {
    font-family: $font-family;
    font-size: $text-size;
    line-height: 1.42857143;

    section {
      // width: 100%;
      padding: 0.5em;
      border-top: 1px solid #eee;
      .title {
        font-family: $font-sans;
      }
      // make icons font inline
      .icon {
        svg {
          display: inline-block;
          width: 1em;
          height: 1em;
          vertical-align: text-top;
        }
      }

      &.skills {
        ul {
          padding-left: 0;
          list-style: none;
        }
      }

      &.experience {
        .job {
          margin: 1em 0;

          .placement {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .company {
              font-size: $header-size;
            }
          }

          .role {
            font-style: italic;
          }

          .description {
            font-weight: bold;
          }

          .technologies {
            font-family: $font-mono;
          }

          .responsibilities {
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
            }
          }
        }
      }

      &.education {
        .entry {
          margin: 1em 0;

          .convocation {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .school {
              font-size: $header-size;
            }
          }
        }
      }
    }
  }
}
@media screen {
  @include resumeStyling($font-serif, medium, large);

  article.resume {
    section {
      &.skills {
        ul {
          // font-family: $font-mono;
        }
      }
    }
  }
}
@media print {
  @include resumeStyling($font-serif, small, medium);

  article.resume {
    // Shrink top margin for .content
    margin: 1em auto 0;
    // Render hyperlinks as normal text
    a {
      color: inherit;
      text-decoration: inherit;
    }

    section {
      display: flex;
      flex-direction: row;
      padding: 0;

      .title {
        order: 1;
        width: 15%;
      }

      .body {
        order: 2;
        width: 85%;
      }
    }
  }
}
